body {
    background-color: rgb(43, 43, 49);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

div {
    text-align: center;
}

#msg {
    padding: 10px;
}

footer {
    margin: auto;
    font-style: italic;
    color: white;
    text-align: center;
}

img {
    max-width: 500px;
}